/* Reset Styles */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    overflow: hidden;
    color: white;
    animation: fadeIn 1s ease-in-out;
    background-color: black;
    background-attachment: fixed;
}

header {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    animation: fadeIn 1s ease-in-out;
}

/* Add animated stars */

